:root{
    --gray: #495E57;
    --yellow:#F4CE14;
    --darkpink:#EE9972;
    --lightpink:#FBDABB;
    --white:#EDEFEE;
    --black:#333333;
}
.special_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Div_heading{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 18rem;
    font-size: 16pt;
    font-weight: bolder;
}
.Button_online{
    background-color: var(--yellow);
    border-radius: 5px;
    border: none;
    float: right;
    align-self: center;
}
.Menu{
    display: flex;
    align-items: center;
    justify-content: top;
    align-items: stretch;
    gap:2rem;
    
}
.item{
    border-radius: 1rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 13.5rem;

}
.item img{
    width: 13.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 9rem;
    /* aspect-ratio: fill; */
}
.item_name_price{
    display: flex;
    justify-content: space-between;
    padding:0  0.8rem;
}
.item_name{
    font-size: 10pt;
    font-weight: bold;
    
}
.item_price{
    font-size: 10pt;
    color: var(--darkpink);
   
}
.item_discriptive{
    line-height: 1.5;
    max-width: 45ch;
    font-size: 8pt;
    padding: 0 0.8rem;
}
.item h5{
    padding: 0 0.8rem;
}